.grid { 
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.grid .card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}